fastapi==0.104.1
uvicorn[standard]==0.24.0
pydantic==2.5.0
yt-dlp==2024.8.6
librosa==0.10.2
numpy==1.26.4
basic-pitch==0.3.2
soundfile==0.12.1
tensorflow-cpu==2.16.1
python-multipart==0.0.9
protobuf==4.25.3
certifi
brotli
